.user-name{
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    display:table;
	margin:0 auto;
}

.upper-header{
    align: center;
    display:table-cell;
    text-align: center;
    display: block;
}

.lower-header{
	display:table-cell;
    align: center;
    display: block;
    text-align: center;
}

.user-metadata{
	position: relative;
	top: 8px;
    text-align: center;
    align: center;
}

.btn-prof-header{
    margin-top: -10px;
}

.search-bar-wrap {
    margin-left:337px;
}

.followlink {
	position: relative;
	top: 8px;
}
