.user-name{
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    display:table;
	margin:0 auto;
}

.profile-header {
	margin-left:7px;
	padding-left: 11px;
	padding-right: 11px;
}

.bulletin-color {
	color: green;
}

.chat-color {
	color: orange;
}

.you-visit {
	float: right;
	font-size: 10px;
	color:#777777;
}

.upper-header{
    align: center;
    display:table-cell;
    text-align: center;
    display: block;
}

.lower-header{
	display:table-cell;
    align: center;
    display: block;
    text-align: center;
}

.user-metadata{
	position: relative;
	top: 8px;
    text-align: center;
    align: center;
}

.btn-prof-header{
    margin-top: -10px;
}

.search-bar-wrap {
    margin-left:307px;
}

.history-timeline-container {
	padding-left: 3px;
}

.offset-set {
	margin-left: 303px;
}

#left-nav {
	z-index: 1;
}


.aggregate-stats {
    margin-left:307px;
    position: relative;
    top: 0px;
    padding-left: 22px;
	padding-right: 0px;
}

.followlink {
	position: relative;
	top: 8px;
}
