{% extends "common/snippets/hero_err_template.html" %}
{% load filters %}

{% block title %}
reset password
{% endblock %}

{% block hero_content %}
    {{ block.super }}
    <p><strong>Forgot your password?</strong></p>
    <p> No problem, just give us your email address.</p>
    <p>
        <form method='post' action=''>
            {% csrf_token %}
            <table>
                {{ form }}
                <tr>
                    <td>
                        <input type='submit' class="btn btn-primary" value="Reset password" />
                    </td>
                </tr>
            </table>
        </form>
    </p>

{%  endblock %}

{% block helper %}
{% endblock %}

{% block scripts %} 
{% include_script 'registration/js/registration' %}
{% endblock %}