{% extends "registration/registration_base.html" %}

{% block title %}
change password
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="span4 offset4 well">
        <p><strong>Change your password:</strong></p>
        <p>
            <form method='post' action=''>
                {% csrf_token %}
                <table>
                    {{ form }}
                    <tr>
                        <td>
                            <input type='submit' class="btn btn-primary" value="Change password" />
                        </td>
                    </tr>
                </table>
            </form>
        </p>
    </div>
{%  endblock %}