{% extends "accounts/edit_profile_base.html" %}
{% load filters %}

{% block title %}
change password
{% endblock %}

{% block account_content %}
{% include 'common/snippets/form_error.html' %}
    <div class="span4 well">
        <p>
            <form method='post' action=''>
                {% csrf_token %}
                <table>
                    {{ form }}
                    <tr>
                        <td>
                            <input type='submit' class="btn btn-primary" value="Change password" />
                        </td>
                    </tr>
                </table>
            </form>
        </p>
    </div>
{%  endblock %}

{% block scripts %} 
    {{ block.super }}
    {% include_script 'registration/js/registration' %}
    {% include_script 'accounts/js/change_password' %}
{% endblock %}