{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}
{% load gravatar %}

{% block styles %}
    {% include_style "stats/css/profile_base" %}
{% endblock %}

{% block content %}
<div class="row span12 user-info" data-username="{{profile_user.username}}">

    {% include 'stats/profile_subnav.html' %}
    <div class="span8 well profile-header">
        <div class="upper-header">
        	{% if profile_user != user %}
        		{% gravatar_img_for_user profile_user 80 %}
        	{% else %}
        		<a href="/accounts/profile/account" title="Click here to change your profile picture">{% gravatar_img_for_user profile_user 80 %}</a>
        	{% endif %}
        </div>
        
        <div class="lower-header">
	        <span class="user-name">
	            {{profile_user.username}}'s eyebrowse history 
	        </span>
	        <div class="followlink">
		        {% if profile_user != user %}
		            <a class="btn btn-info btn-prof-header connection">                
		                {% include 'common/snippets/follow-btn.html' with follows=follows username=profile_user.username %}
		                
		            </a> 
		        {% endif %}
	        </div>
        	<div class="user-metadata">
	            <div class="bio">
	                <strong>{{ profile_user.profile.bio }}</strong>
	            </div>
	            <span class="location profile-field">
	                {{ profile_user.profile.location }}
	            </span>
	            <BR />
	            <span class="profile-field">
	                <a target="_blank" href="{{ profile_user.profile.website }}">
	                {{ profile_user.profile.website }}
	                </a>
	            </span>
           </div>
        </div>
        
    </div>
    {% include "live_stream/aggregate_stats.html" %}
    {% include "live_stream/search_bar.html" %}

</div>

{% block profile_content %}
    
{% endblock %}


{% endblock %}

{% block scripts %} 
    {% include_script 'stats/js/profile_base' %}
    {% include_script "stats/js/profile_stats" %}
    {% include_script "live_stream/js/jsapi" %}
    {% include_script "live_stream/js/barchart" %}
{% endblock %}