{% load humanize %}

<!-- Desktop display -->
<div class="span3 search-nav hidden-phone">
    <div class="span3 affix-nav" data-spy="affix">
    	
    	<ul class="nav nav-list well">
	    {% include 'live_stream/subnav_content.html' %}
	    </ul>

        {% include "stats/statboxes/tot_history.html" %}
        
        {% include "stats/statboxes/tot_time.html" %}
        
        {% include "stats/statboxes/fav_site.html" %}

        {% include "stats/statboxes/fav_time.html" %}

        {% include "stats/statboxes/is_online.html" %}

    </div>
</div>