{% load filters %}
{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  styles -->
    {% compress css %}

    {% include_style "common/css/bootstrap" %}
    {% include_style "extension/css/jquery.gritter" %}
    {% include_style "extension/css/ticker_prompt_info" %}

    {% endcompress %}

</head>
<body>
    <div class="bubble" id="info-box">
        {% block content %}
        {% endblock %}
    </div>

    <!--  javascript -->
    {% compress js %}

    {% include_script 'common/js/jquery-1.8.2.min' %}
    {% include_script 'extension/js/prompt_info' %}

    {% endcompress %}
</body>
</html>