.history-container {
    padding:10px;
    margin: 5px;
    color: #555;
    word-wrap: break-word;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)!important;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)!important;
    border: #DDD 1px solid!important;
    border-top-color: #EEE!important;
    border-bottom-color: #BBB!important;
    background-color: white!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    border-radius: 5px!important;
}

.history-container .author-pic {
    width: 20px;
    height: 20px;
}

.history-container .history-content {
    color:#000;
    font-size: 1.1em;
}

.history-container .author-name {
    vertical-align: middle;
    font-size: 1.3em;
    color:#444;
}

.history-container .date {
    font-size: .8em;
}

.center {
    margin-left:270px;
}

.connection-container {
    margin-top:20px;
}

.author-container{
    width:155px;
}
