{% load staticfiles %}

<div class="chrome span3">
    <img class="ext-icon" src='{% static "common/img/chrome-logo.png" %}'>
    <a class="btn btn-large" href="https://chrome.google.com/webstore/detail/eyebrowse/akhbhgcioeledicnkpmjpmkkecohhicf" target="_blank">Get it for Chrome &raquo;</a> 
</div>
<!--
<div class="firefox span3">
    <img class="ext-icon" src='{% static "common/img/firefox-logo.png" %}'>
    <a class="btn btn-large" target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/eyebrowse/">Get it for Firefox &raquo;</a>
</div>
-->