{% if form.errors %}
    <div class='alert alert-danger'>
        <strong> Sorry, there were some errors...</strong>
        <div>
          {% for key, value in form.errors.items %}
              {% for v in value %}
                {% if v == "This field is required." %}
                    <p> {{ key }} : {{ v }} </p>
                {% else %}
                    <p> {{ v }} </p>
                {% endif %}
              {% endfor %}
          {% endfor %}
        </div>
    </div>
{% endif %}
