{% load staticfiles %}
<a class="btn btn-primary btn-large" href="/accounts/register/">Register</a>
<a class="btn btn-primary btn-large" <a href="{% url django.contrib.auth.views.login %}">Login</a>
<a class="btn btn-primary btn-large" href="/live_stream/?filter=firehose"> View Live Stream </a>
<a href="https://chrome.google.com/webstore/detail/eyebrowse/akhbhgcioeledicnkpmjpmkkecohhicf" target="_blank">
  <img class="ext-icon" src='{% static "common/img/chrome-logo.png" %}'> Get it for Chrome &raquo;
</a>
