<div class="hidden row">
    <ul class="pager">
        {% if objs.has_previous %}
        <li class="previous"> 
            <a class="prev-link" href="?page={{ objs.previous_page_number }}{{ link_mod }}">
                &larr; previous
            </a>
        </li>
        {% endif %}

        {% if objs.has_next %}
        <li class="next">
            <a class="next-link" href="?page={{ objs.next_page_number }}{{ link_mod }}">
                next &rarr; 
            </a>
        </li>
        {% endif %}
    </ul>
</div>