<div id="{{type}}" class="row hidden edit">
    <input class="filter-input" type="text" placeholder="Filter {{type}}">
    <div class="{{type}}-container">
        <table class="table table-striped">
            <thead class='hidden'>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="{{type}}-body">
                {% for connection in connections %}
                    {{ connection }}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>