{% extends 'accounts/edit_profile_base.html' %}
{% load filters %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block account_content %}

	<span class="span5">If you're not sure where to start or looking for more people to follow, you can  
		<a href="/getting_started#startfollowing">get suggestions for people to follow</a>
		or <a href="/accounts/profile/sync_twitter">connect your Twitter account</a>.
	</span>
    <BR>
    	<br>
    
    {{ rendered_following }}
    {{ rendered_followers }}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_script "accounts/js/connections" %}
{% endblock %}