<form class="hidden edit" id="pic" data-url="/accounts/profile/edit">
    {% csrf_token %}
    {% include 'common/snippets/alert_box.html' %}
    Coming soon!
<!--         <input type="hidden" name="form_type" value="pic">

    <input type='hidden' name='pic_url' value="{{ user.profile.pic_url }}" id='id_pic_url'>
    <img id="profile_pic" class="author-pic" src="{{ user.profile.pic_url }}">

    <input class="btn" name="upload" id="upload" type="button" value="Edit profile picture"/>
    <input class="btn btn-primary disabled" disabled type="submit" value="Save" data-loading-text="Saving..." id="profile-pic-save"/> -->
</form>