{% extends 'accounts/edit_profile_base.html' %}
{% load filters %}
{% load gravatar %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block account_content %}

<div class="row span7 well">
	<h2> Edit My Private Tags </h2>
	{% for tag_list in tags %}

		<div class="span6 tags">
			<h3>
			<span class="label label-default" style="background-color: #{{ tag_list.0.color }}">{{ tag_list.0.name }}</span>
			</h3>
			<button class="btn btn-xs delete-tag" data-tag="{{ tag_list.0.name }}">Delete This Tag</button> 
			<button class="btn btn-xs change-color-tag" data-tag="{{ tag_list.0.name }}">Change Color of Tag</button>
			<br />
			{% for tag in tag_list %}
				<div class="span5 tag-domain">
				<a class="btn btn-danger btn-xs rm-tag" data-url="{{ tag.domain }}" data-tag="{{ tag_list.0.name }}">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					{{ tag.domain }} 
					
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>	
	
	
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_script "accounts/js/edit_tag" %}
{% endblock %}