{% load gravatar %}

<div id="info" class="hidden edit">
    <form id="pic" data-url="/accounts/profile/edit">
        {% csrf_token %}
        {% include 'common/snippets/alert_box.html' %}
        <input type="hidden" name="form_type" value="pic">

        <input type='hidden' name='pic_url' value="{{ user.profile.pic_url }}" id='id_pic_url'>
        <img id="profile_pic" class="author-pic img-polaroid" width='80' height='80' src="{% gravatar_for_user user %}">

        <input class="btn" name="upload" id="upload" type="button" value="Edit profile picture"/>
        <input class="btn btn-primary disabled" disabled type="submit" value="Save" data-loading-text="Saving..." id="profile-pic-save"/>
    </form>

    <form id="account-info" data-url="/accounts/profile/edit">
        {% csrf_token %}
        {% include 'common/snippets/alert_box.html' %}
        <input type="hidden" name="form_type" value="account-info">

        <input type='text' name='first_name' value="{{ user.first_name }}" id='first_name' placeholder="First Name">
        <input type='text' name='last_name' value="{{ user.last_name }}" id='last_name' placeholder="Last Name">
        <label class="checkbox">
            <input {% if user.profile.anon_email %} checked {% endif %} type="checkbox" name='anon_checkbox' class='checkbox tip' data-content="Anonymize your email address from user searches."> Anonymous Email?
        </label>

        <input class="btn btn-primary" type="submit" value="Save" data-loading-text="Saving..." id="account-info-save"/>
    </form>

</div>