{% load jstemplate %}

<form class="hidden edit" id="whitelist" data-url="/api/whitelist/add/" >
        {% include 'common/snippets/alert_box.html' %}
        {% csrf_token %}
        
        <p id="">
                <input class="rm-margin" placeholder="Add whitelist URL" type="text" name="whitelist" value="">
                <input class="btn btn-primary" data-loading-text="Saving..." type="submit" value="Add " id="whitelist-save"/>
        </p> <br>

        <input type="hidden" name="form_type" value="whitelist">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="whitelist-body">
                {% for item in history_data %}
                        {% include 'api/whitelist_row.html' with item=item %}
                {% endfor %}
            </tbody>
        </table>
        {% include_ichtemplate 'api/js_templates/whitelist_row.html' %}
</form>