{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}

{% load jstemplate %}


{% block content %}
<div class="row offset3 span7">
    <h2 class="offset2"> Edit Profile </h2>
    <ul class="nav nav-tabs">
        <li class="active">
            <a id="whitelist-tab" class="tab" href="#whitelist"> Whitelist</a>
        </li>
        <li>
            <a id="pic-tab" href="#pic" class="tab">Account Info</a>
        </li>
        <li>
            <a id="email-tab" href="#email" class="tab">Add Emails </a>
        </li>
        <li>
            <a id="con-tab" href="#con" class="tab">Add Connections </a>
        </li>
        <li>
            <a href="/accounts/password/change/">Change Password</a>
        </li>
    </ul>
</div>
<div class="span4 offset4">

{% include 'accounts/edit_whitelist.html' %}
{% include 'accounts/edit_account_info.html' %}
{% include 'accounts/edit_email.html' %}
{% include 'accounts/edit_connections.html' %}

</div>
{%  endblock %}

{% block scripts %} 
{% include_script 'accounts/js/edit_profile' %}
{% endblock %}
