{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %} 
{% include_style "api/css/base" %}
{% endblock%}

{% block content %}
<div class="title-offset row offset4 span4">
    <h2> Eyebrowse History </h2>
</div>

<table class="table table-striped table-condensed history-data">
    <thead>
        <tr>
            <th class="pointer type-string">
                favIconUrl
            </th>
            <th class="pointer type-string">
                url
            </th>
            <th class="pointer type-string">
                title
            </th>
            <th> 
                total_time 
            </th>
            <th class="pointer type-date">
                start_time
            </th>
            <th class="pointer type-date">
                end_time
            </th>
        </tr>
    </thead>
    <tbody class="table table-condensed table-striped table-bordered">
        {% for item in eye_history %}
                {% include 'api/row_history.html' with item=item %}
        {% endfor %}
    </tbody>
</table>


{% endblock %}


{% block scripts %} 
{% include_script 'accounts/js/profile' %}
{% endblock %}