{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}
{% load gravatar %}

{% block content %}
<div class="title-offset row offset2 span9 user-info" data-username="{{profile_user.username}}">
    <h2> 
        <a href="/users/{{profile_user.username}}">
            {% gravatar_img_for_user profile_user 80 %}
        </a> 
        {{profile_user.username|capfirst}}'s Eyebrowse History  
        <a class="btn btn-info pull-right top-margin btn-prof-header connection">
            {% if profile_user == user %}
            <i class="icon-white icon-wrench edit-history"></i> Edit 
            {% else %}
                {% include 'common/snippets/follow-btn.html' with follows=follows username=profile_user.username %}
            {% endif %}   
        </a> 
    </h2>
</div>

{% include 'live_stream/history_table.html' with history_items=history_items %}


{% endblock %}

{% block scripts %} 
{% include_script 'accounts/js/profile' %}
{% endblock %}