<li class={{ subnav_whitelist }}>
    <a href="/accounts/profile/whitelist"><i class="icon-list-alt"></i> Edit Whitelist </a>
</li>
<li class={{ subnav_account_info }}>
    <a href="/accounts/profile/account"><i class="icon-user"></i> Edit Account Info</a>
</li>
<li class={{ subnav_sync_twitter }}>
    <a href="/accounts/profile/sync_twitter"><i class="icon-plus"></i> Connect Twitter Account</a>
</li>
<li class={{ subnav_connections }}>
    <a href="/accounts/profile/connections"><i class="icon-resize-full"></i> Followers and Followees</a>
</li>
<li id="password_change" class={{ subnav_change_password }}>
    <a href="/accounts/password/change/"><i class="icon-lock"></i> Change Password</a>
</li>
