<li class={{ subnav_whitelist }}>
    <a href="/accounts/profile/sharelist"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Edit Sharelist </a>
</li>
<li class={{ subnav_account_info }}>
    <a href="/accounts/profile/account"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Account Info</a>
</li>
<li class={{ subnav_mutelist }}>
    <a href="/accounts/profile/mutelist"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Edit My Mute List</a>
</li>
<li class={{ subnav_edit_tags }}>
    <a href="/accounts/profile/edit_tags"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Edit My Tags</a>
</li>
<li class={{ subnav_sync_twitter }}>
    <a href="/accounts/profile/sync_twitter"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Connect Twitter Account</a>
</li>
<li class={{ subnav_sync_delicious }}>
    <a href="/accounts/profile/sync_delicious"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Connect Delicious Account</a>
</li>
<li class={{ subnav_connections }}>
    <a href="/accounts/profile/connections"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Followers and Followees</a>
</li>
<li class={{ email_notifications }}>
    <a href="/notifications/settings/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Change Email Notifications</a>
</li>
<li class={{ subnav_change_password }}>
    <a href="/accounts/password/change/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a>
</li>
