<li class={{ subnav_whitelist }}>
    <a href="/accounts/profile/whitelist"><i class="icon-list-alt"></i> Whitelist </a>
</li>
<li class={{ subnav_account_info }}>
    <a href="/accounts/profile/account"><i class="icon-user"></i> Account Info</a>
</li>
<li class={{ subnav_connections }}>
    <a href="/accounts/profile/connections"><i class="icon-resize-full"></i> Connections</a>
</li>
<li class={{ subnav_change_password }}>
    <a href="/accounts/password/change/"><i class="icon-lock"></i> Change Password</a>
</li>
