{% extends 'accounts/edit_profile_base.html' %}
{% load filters %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block account_content %}
 <div class="span6">
	<h3>Connect to Twitter</h3>
	{{ synced }}
	
	{% if connected %}
		<br />
		<br />
		<div class="well">
		<img src="{{ profile_image }}"><br />
		<h4>{{ username }}</h4>
		{{ profile_info }}
		</div>
		
	{% else %}
		<br />
		<a href="/accounts/profile/sync_twitter">Connect with Twitter</a>
		
		
	{% endif %}
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}