{% extends 'accounts/edit_profile_base.html' %}
{% load filters %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block account_content %}
	<span class="span5">If you're not sure where to start, you can get <a href="/getting_started">suggestions for sites to sharelist</a>.</span>
    {% include 'accounts/edit_filterset.html' with items=whitelist type="whitelist" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_script "accounts/js/whitelist" %}
{% endblock %}
