{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit well">
        <h3>About Eyebrowse</h3>
<p> Eyebrowse aims to create a social outdoors for your web browsing.
</p>


<P>

<h4>Managing your whitelist</h4>
Using the browser plugin that we've created for Chrome, it will occasionally ask you
while you are browsing the Internet whether you would like to whitelist the domain that you
are currently on. You can also add a domain to your whitelist without being prompted by clicking on
the Eyebrowse logo and selecting 'Whitelist this Domain'.
You can always add more domains or remove domains from your whitelist by editing your
profile on the Eyebrowse website. Once you've added a domain to your whitelist that
that you are comfortable sharing your activity on, the plugin will track when you visit a page
on that domain and publish it to your Eyebrowse feed for you automatically. 
If you want to mark a visit to a webpage just this one time without
putting the domain in your whitelist, you can do this from within the Eyebrowse plugin by clicking 
"Mark a visit to this page" while on that page.
</P>

<P>
<h4>Social activities in the plugin</h4>
If you click on the Eyebrowse logo in your
Chrome browser, you can also post a Scribble, which is a short message or comment of your choosing, to
that particular page. Scribbles will also post to your Eyebrowse feed and then the home feeds of your followers. You can think
of Scribbles as being similar to a news article comment, Facebook post, or Twitter post.
The Eyebrowse plugin also supports more light-weight discussions with people on the page in the chat window below
the Scribble feed. These discussions, while public, do not get posted to your feed, and people can only see them when they
are on that page. In the plugin, you can also see who else is on the same page and the same domain as you at that moment.
</P>

<P>
<h4>Social activities on the website</h4>
On the Eyebrowse website, your homepage is a feed of all the people you are following. You can see the
webpages that they've visited on their whitelist, and you can click through to view those webpages and 
discover interesting content.
You can also view the Firehose of all Eyebrowse visits and search within it to find content or new 
people to follow. You can browse other people's profile pages and view people's followers and followees.
Finally, you can edit your own profile and manage your whitelist.
</p>

<h3>About Us</h3>
<P>
We are a team of researchers and students at <a href="http://www.csail.mit.edu/">MIT CSAIL</a> and 
members of the <a href="http://haystack.csail.mit.edu">Haystack Research Group</a> at MIT. 
Our overall research goal is to make it easier for people to collect, organize, find, visualize, 
and share information. Eyebrowse is pursuing this goal for web activity and traversal. Principle
members of this team currently include:
<P>
<table>
<tr>
<td width=120>
<img width=100 height=100 class="rounded-logo" src="https://pbs.twimg.com/profile_images/1428656187/Picture_11_400x400.jpg">
</td>
<td style="vertical-align:top;">
<h4>Amy X. Zhang</h4>
<a href="http://twitter.com/amyxzh"><img src="https://si0.twimg.com/favicons/favicon.ico"> @amyxzh</a> | 
	<a href="http://amyxz.com">Website</a> | 
	<a href="http://eyebrowse.csail.mit.edu/users/amyxzhang">
	<img src="http://eyebrowse.csail.mit.edu/static/common/img/logo.png" width=15 height=12>
	Eyebrowse Profile</a> | 
	<a href="mailto:axz@mit.edu"><i class="icon-envelope"></i></a> <BR />

I am a first year Ph.D. student at MIT CSAIL in the field of human-computer interaction. 
My interests are in understanding and building better interfaces for large-scale discussion. 
I am also interested in
imagining and building new ways of communicating and collaborating on the web, such as Eyebrowse! 
You can check out my other projects and web apps I've built at my website.
</td>
</tr>
</table>
</p>
<P>
<table>
<tr>
<td width=120>
<img width=100 height=100 class="rounded-logo" src="http://www.csail.mit.edu/biographies/PI/72dpi/karger.jpg">
</td>
<td style="vertical-align:top;">
<h4>David Karger</h4>
<a href="http://twitter.com/karger"><img src="https://si0.twimg.com/favicons/favicon.ico"> @karger</a> | 
	<a href="people.csail.mit.edu/karger/">Website</a> | 
	<a href="http://eyebrowse.csail.mit.edu/users/karger">
	<img src="http://eyebrowse.csail.mit.edu/static/common/img/logo.png" width=15 height=12> 
	Eyebrowse Profile</a>  | 
	<a href="mailto:karger@mit.edu"><i class="icon-envelope"></i></a> <BR />
I am a member of the Computer Science and Artificial Intelligence Laboratory in the EECS department at MIT.
My primary interest these days is in developing tools that help individuals manage information better. 
This involves studying people and current tools to understand where the problems are, and creating and evaluating 
tools that address those problems. I draw on whatever fields can help: information retrieval, machine 
learning, databases, and algorithms, but most often from human computer interaction.
</td>
</tr>
</table>
</p>
<P>
Other people that have helped out immensely with building the Eyebrowse project in the past include 
<a href="https://github.com/joshblum">Joshua Blum</a>, 
<a href="https://github.com/scottgwald">Scott Greenwald</a>, and <a href="https://github.com/mjhu">Jason Hu</a>.

</p>


<p>
Still curious? Read more at our <a href="/faq">FAQ</a>.
	</p>

</div>

{% endblock %}
