{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit well">
        <h3>About Eyebrowse</h3>
<p> Eyebrowse aims to create a social outdoors for your web browsing.
</p>


<p>

<h4>Managing your sharelist</h4>
A <span class="bold">sharelist</span> is a list of domains that you are 
interested in being publicly seen on and you are comfortable sharing your activity on. You control what domains are on your
sharelist. Some typical domains that users sharelist include <a href="http://en.wikipedia.org">Wikipedia</a>, <a href="http://www.cnn.com">CNN</a>,
or <a href="http://stackoverflow.com">StackOverflow</a>, just as examples.
<img class="prompt-img right-img about-img" src="{% static "common/img/prompt.png" %}">
<br>
<br>


Using the browser plugin that we've created for Chrome, it will occasionally ask you
while you are browsing the Internet whether you would like to share the domain that you
are currently on. You can also add a domain to your sharelist without being prompted by clicking on
the Eyebrowse Chrome extension and selecting 'Share this Domain'.
<br>
<br>
<img class="sharelist-img left-img about-img" src="{% static "common/img/sharelist.png" %}">
You can always add more domains or remove domains from your sharelist by editing your
profile on the Eyebrowse website. Once you've added a domain to your sharelist that
that you are comfortable sharing your activity on, the plugin will track when you visit a page
on that domain and post it to your Eyebrowse feed for you automatically. 
<br>
<br>
<img class="ext-links-img right-img about-img" src="{% static "common/img/ext-links.png" %}">
If you want to mark a visit to a webpage just this one time without
putting the domain in your sharelist, you can do this from within the Eyebrowse plugin by clicking 
"Mark a visit to this page" while on that page. 
Finally, if you ever want to 
not be tracked on any sites for a short while, you can click "Eyebrowse: On" on the Eyebrowse plugin to toggle 
it on and off. 
Any browsing you do in Chrome incognito mode will by default have Eyebrowse off. 
</p>
<br>
<p>
<h4>Social activities in the plugin</h4>
<img class="users-img right-img about-img" src="{% static "common/img/users.png" %}">
Anytime you are browsing the web, you can "bump into" other people or cross paths with others. 
Eyebrowse notifies you of this by showing in the
extension popup all the other people currently on the same page and domain, as well as people who have been to this page before.
<br>
<br>
<img class="bulletin-img left-img about-img" src="{% static "common/img/bulletin.png" %}">
You can post <span class="bold">Notes</span>, which are short messages or comments of your choosing, to any page on the web.
You can think
of Notes as being similar to a news article comment, Facebook status post, or tweet.
To post a Note, click on the Eyebrowse logo in your
Chrome browser. 
Bulletins will also post to your Eyebrowse feed on the website and from there, to the home feeds of your 
followers. 
You can also view all Notes on a page's Bulletin Board on the Chrome Extension popup or on the Eyebrowse website.
<br>
<img class="chat-img right-img about-img" src="{% static "common/img/chat.png" %}">
<br>

Additionally, you can post <span class="bold">Chats</span>, more light-weight discussions with people within a page.
These discussions, while public, do not get posted to your feed, and people can only see them when they
are on that page. To see and participate in Chats, open the Chrome extension and find the Chat Room within the popup.
<br>
<br>
<img class="popup-img left-img about-img" src="{% static "common/img/popup.png" %}">
While you are browsing the web, small popups will appear under the eyebrowse extension logo. If someone else has been on the same 
page or domain in the last month, their icon will show up in the popup. The more transparent their logo is, the longer it's been
since they've been here. If there is a yellow border around their icon, that means you have bumped into this person - you two
are on the same page at the same time. Also, the small popup will show a snippet of the most recent Note or Chat message posted.
If you're interested, you can click the extension icon to read more. If you want to get rid of the popup, you can click on the message
and it will disappear, or wait 4 seconds for it to fade away.
</p>
<br>



<p>
<h4>Social activities on the website</h4>

<img class="follow-img left-img about-img" src="{% static "common/img/follow.png" %}">
On the Eyebrowse website, your homepage is a feed of all the people you are following. You can see the
webpages that they've visited on their sharelist, and you can click through to view those webpages and 
discover interesting content.
You can also view the Firehose of all Eyebrowse visits and search within it to find content or new 
people to follow. 
There are also aggregate statistics on the top links and most visited domains in the last day and week.
You can browse other people's profile pages and view people's followers and followees. 
You can edit your own profile and manage your sharelist.
<img class="notification-img right-img about-img" src="{% static "common/img/notifications.png" %}">
<br>
<br>


If you click on Notifications in the left part of the navigation bar, you can see interesting things that have happened
on the pages you visited in the last week. This page will tell you if you've bumped into anyone while browsing as well as
any Notes or Chat messages that have been posted in the last week on pages you've visited.

</p>
<br>
<br>
<h3>About Us</h3>
<p>
We are a team of researchers and students at <a href="http://www.csail.mit.edu/">MIT CSAIL</a> and 
members of the <a href="http://haystack.csail.mit.edu">Haystack Research Group</a> at MIT. 
Our overall research goal is to make it easier for people to collect, organize, find, visualize, 
and share information. Eyebrowse is pursuing this goal for web activity and traversal. Principle
members of this team currently include:
<p>
<table>
<tr>
<td width=120>
<img width=90 height=100 class="rounded-logo" src="https://pbs.twimg.com/profile_images/1428656187/Picture_11_400x400.jpg">
</td>
<td style="vertical-align:top;">
<h4>Amy X. Zhang</h4>
<a href="http://twitter.com/amyxzh"><img src="https://si0.twimg.com/favicons/favicon.ico"> @amyxzh</a> | 
	<a href="http://amyxz.com">Website</a> | 
	<a href="http://eyebrowse.csail.mit.edu/users/amyxzhang">
	<img src="http://eyebrowse.csail.mit.edu/static/common/img/logo.png" width=15 height=16>
	Eyebrowse Profile</a>
	<a href="mailto:axz@mit.edu"><i class="icon-envelope"></i></a> <br>

I am a first year Ph.D. student at MIT CSAIL in the field of human-computer interaction. 
My interests are in understanding and building better interfaces for large-scale discussion. 
I am also interested in
imagining and building new ways of communicating and collaborating on the web, such as Eyebrowse! 
You can check out my other projects and web apps I've built at my website.
</td>
</tr>
</table>
</p>
<p>
<table>
<tr>
<td width=120>
<img width=90 height=100 class="rounded-logo" src="http://www.gravatar.com/avatar/10a87f000b03b4988faf1949ef739671?d=identicon&amp;s=80&amp;r=g">
</td>
<td style="vertical-align:top;">
<h4>Josh Blum</h4>
<a href="http://twitter.com/blumua"><img src="https://si0.twimg.com/favicons/favicon.ico"> @blumua</a> | 
	<a href="https://github.com/joshblum">Website</a> | 
	<a href="http://eyebrowse.csail.mit.edu/users/joshblum">
	<img src="http://eyebrowse.csail.mit.edu/static/common/img/logo.png" width=15 height=16> 
	Eyebrowse Profile</a>
	<a href="mailto:joshblum@mit.edu"><i class="icon-envelope"></i></a> <br>
  I am currently a MEng student at CSAIL in the Databases group. I started
  working on Eyebrowse as an undergraduate and continue working on the project
  in my spare time.
</td>
</tr>
<tr>
<td width=120>
<img width=90 height=100 class="rounded-logo" src="http://www.csail.mit.edu/biographies/PI/72dpi/karger.jpg">
</td>
<td style="vertical-align:top;">
<h4>David Karger</h4>
<a href="http://twitter.com/karger"><img src="https://si0.twimg.com/favicons/favicon.ico"> @karger</a> | 
	<a href="people.csail.mit.edu/karger/">Website</a> | 
	<a href="http://eyebrowse.csail.mit.edu/users/karger">
	<img src="http://eyebrowse.csail.mit.edu/static/common/img/logo.png" width=15 height=16> 
	Eyebrowse Profile</a>
	<a href="mailto:karger@mit.edu"><i class="icon-envelope"></i></a> <br>
I am a member of the Computer Science and Artificial Intelligence Laboratory in the EECS department at MIT.
My primary interest these days is in developing tools that help individuals manage information better. 
This involves studying people and current tools to understand where the problems are, and creating and evaluating 
tools that address those problems. I draw on whatever fields can help: information retrieval, machine 
learning, databases, and algorithms, but most often from human computer interaction.
</td>
</tr>
</table>
</p>
<p>
Other people that have helped out immensely with building the Eyebrowse project in the past include 
<a href="https://github.com/scottgwald">Scott Greenwald</a>, and <a href="https://github.com/mjhu">Jason Hu</a>.

</p>


<p>
Still curious? Read more at our <a href="/faq">FAQ</a>.
	</p>

</div>

{% endblock %}
