{% load filters %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="page_title"> eyebrowse | {{ page_title }} {% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- analytics -->
    
        <!--  styles -->
        {% compress css %}

        {% include_style "common/css/reset" %}
        {% include_style "common/css/bootstrap" %}
        {% include_style "common/css/bootstrap-responsive" %}
        {% include_style "common/css/base" %}
        
        {% block styles %} 
        {% endblock%}
        {% endcompress %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href='{% static "common/img/favicon.ico" %}'>
       
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav-bg">
                <div class="container-fluid">
                    <a class="brand" href="/"> 
                        <img class="logo" src="{% static "common/img/logo.png" %}"> eyebrowse
                    </a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>  
                    <div class="nav-collapse collapse">
                        <ul class="nav topbar">
                            {% comment %}
                            <li class={{ nav_blog }}>
                                <a href="#">Blog</a>
                            </li> 
                            {% endcomment %}
                        {% if user.is_authenticated %}
                            <li class={{ nav_home }}>
                                <a href="/">Home</a>
                            </li>

                            <li class={{ nav_profile }}>
                                <a id="user_prof" href="/accounts/profile/">Profile</a>
                            </li>
                            <li id="account_dropdown" class="dropdown {{ nav_account }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/accounts/profile/">
                                            <i class="icon-user"></i>
                                            My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/accounts/profile/edit">
                                            <i class="icon-wrench"></i>
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#send-feedback-modal" >
                                            <i class="icon-envelope"></i>
                                            Send Feedback
                                        </a>
                                    </li>
                                        {% if user.is_authenticated %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url django.contrib.auth.views.logout %}"> Logout </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right topbar">
                            <li>
                                <form id="navbar-search" class="navbar-search">
                                    <input type="search" id="search-bar" class="search-query" placeholder="Search username or email..." autocomplete="off"> 
                                </form>
                            </li>
                        {% else %}
                            <li class={{ nav_login }}>
                                 <a href="{% url django.contrib.auth.views.login %}">Login</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            {% block content %} {% endblock%}
        </div>

        <div class="push"></div>

        <div class="footer">
            <div class="navbar">
                <div class="navbar-inner nav-bg">
                    <div>
                            <ul class="nav pull-right">
                                <li>
                                    <a href="http://github.com/joshblum/eyebrowse-server">
                                        <img class="icon" src="https://github.com/favicon.ico">
                                        github
                                    </a>
                                </li>
                                <li> <a>|</a> </li>
                                <li>
                                    <a data-toggle="modal" href="#send-feedback-modal">
                                        <i class="icon-envelope"></i>
                                        contact
                                    </a>
                                </li>
                                <li> <a>|</a> </li>
                                <li>
                                    <a href="http://www.twitter.com/eyebrowse_proj">
                                        <img src="https://si0.twimg.com/favicons/favicon.ico">
                                        @eyebrowse_proj
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>


        {% include 'common/send_feedback.html' %}

        <!--  javascript -->
        {# compress js #}
        {% include_script 'common/js/jquery-1.8.2.min' %}

        <!--  helpers -->
        {% include_script 'common/js/es5-shim.min' %}
        {% include_script 'common/js/jquery.cookie' %}
        {% include_script 'common/js/jquery.idle' %}
        {% include_script 'common/js/jquery.infinitescroll.min' %}
        {% include_script 'common/js/mobile_detection' %}
        {% include_script 'common/js/filepicker' %}
        {% include_script 'common/js/URL' %}
        {% include_script 'common/js/moment.min' %}
        {% include_script 'common/js/ich' %}
        {% include_script 'common/js/sprintf-0.7-beta1' %}
        {% include_script 'common/js/bootstrap-tour' %}
        {% include_script 'live_stream/js/live-stream-ping' %}
        
        <!--  bootstrap -->
        {% include_script 'common/js/bootstrap' %}

        {% include_script 'common/js/base' %}

        {% block scripts %}
        {% endblock %}
        
        {# endcompress #}
        <script type="text/javascript">
            var username = "{{user.username}}";
            {% if user.profile.use_tour %}
                var use_tour = true;
            {% else %}
                var use_tour = false;
            {% endif %}
            {% if ping == '1' or ping == 1 %}
                var ping = true;
            {% else %}
                var ping = false;
            {% endif %}
        </script>
    </body>
</html>
