{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %} 
{% include_style "common/css/downloads" %}
{% endblock %}

{% block content %}
<div class="span9 offset1 well">
    <p>
        <h2> Before you continue...</h2>
    </p>
    <p>
    Thank you for using Eyebrowse! <br>
    Eyebrowse is a research project from MIT CSAIL's <a href="http://haystack.csail.mit.edu" target="_blank">Haystack Group</a> exploring the possibilities of social
    	web browsing.
	</P>
<!-- <p>
	Part of what we are seeking to learn are:<br>
	- How users of Eyebrowse use the system on a day-to-day basis, and <br>
	- Whether features in Eyebrowse are useful or interesting to participants.
</P> -->
<p>
  Eyebrowse is a tool that allows you to choose to share information with others using the Eyebrowse tool while you are browsing the web, including information like certain sites or pages that you visit, comments that you leave using the Eyebrowse tool, or tags that you annotate web pages with.

	None of your browsing activity is shared unless you actively choose to whitelist a domain.
</p>
<p>
  Many of the social browsing features of Eyebrowse are not relevant to the online news research study you are about to take part in. You may choose to use, or not use, those features. 
</p>
<!-- <p>
	<strong>We are additionally collecting some information on usage of the Eyebrowse system such as the following:</strong><br>
	- How many times do people click on a link on the Eyebrowse stream?<br>
	- What domains do people add to their sharelist?<br>
	- What domains do people expressly not want to be tracked on?<br>
	- What pages on the Eyebrowse website are most visited?
</P> -->
<!-- <p>
	We <strong>will not</strong> be making this information publicly available on the website.  
	We wish to analyze the data 
	to help answer our questions above and make Eyebrowse a better tool. 
	If we do present this data, we will only do it in an aggregate manner and fully anonymized.
</p> -->
<p>
	Guarantees to you as a participant in this research project:<br>
	- Your participation is voluntary. You may uninstall Eyebrowse and abandon the application at any time.<br>
	- Please email <a href="mailto:eyebrowse@mit.edu">eyebrowse@mit.edu</a> with any concerns or questions.
</p>
  <p>
        Click below to confirm that you have read the above,
        understand the guarantees,
        and agree to the requirements for participation:<br><br>
        <a class="btn btn-primary" id="confirmation">I confirm</a>
</p>
</div>

{% endblock %}


{% block scripts %}
	{% include_script 'common/js/consent' %}
{% endblock %}

