{% extends 'common/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block styles %} 
{% include_style "common/css/downloads" %}
{% endblock %}

{% block content %}
<div class="span9 offset1 well">
    <p>
        <h2> Before you continue...</h2>
    </p>
    <p>
    Thank you for using Eyebrowse! <BR />
    Eyebrowse is a research project from MIT CSAIL's <a href="http://haystack.csail.mit.edu" target="_blank">Haystack Group</a> exploring the possibilities of social
    	web browsing.
	</P>
<P>
	Part of what we are seeking to learn are:<BR />
	- How users of Eyebrowse use the system on a day-to-day basis, and <BR />
	- Whether features in Eyebrowse are useful or interesting to participants.
</P>
<P>
	As you should know by now, much information on Eyebrowse is <strong>publicly available</strong>. 
	This includes the browser visits to webpages on websites you have whitelisted, comments you post, and chats you post.
</p>
<P>
	<strong>We are additionally collecting some information on usage of the Eyebrowse system such as the following:</strong><BR />
	- How many times do people click on a link on the Eyebrowse stream?<BR />
	- What domains do people add to their whitelist?<BR />
	- What domains do people expressly not want to be tracked on?<BR />
	- What pages on the Eyebrowse website are most visited?
</P>
<P>
	We <strong>will not</strong> be making this information publicly available on the website.  
	We wish to analyze the data 
	to help answer our questions above and make Eyebrowse a better tool. 
	If we do present this data, we will only do it in an aggregate manner and fully anonymized.
</p>
<P>
	Guarantees to you as a participant in this research project:<BR />
	- Your participation is voluntary. You may uninstall Eyebrowse and abandon the application at any time.<BR />
	- Please email <a href="mailto:eyebrowse@mit.edu">eyebrowse@mit.edu</a> with any concerns or questions.
</p>
<P>
        Click below to confirm that you have read the above,
        understand the guarantees,
        and agree to the requirements for participation:<BR /><BR />
        <a class="btn btn-primary" id="confirmation">I confirm</a>
</p>
</div>

{% endblock %}


{% block scripts %}
	{% include_script 'common/js/consent' %}
{% endblock %}

