{% extends 'common/base.html' %}
{% load gravatar %}
{% load staticfiles %}
{% load filters %}

{% block styles %} 
{% include_style "common/css/downloads" %}
{% endblock %}

{% block content %}
<div class="span9 offset1 well">
    <p>
        <h2> Getting Started</h2>
    </p>
    <p>
    	<h4>Start Tracking Your Data</h4>
		If you're interested in tracking your visits to certain pages, you'll need to install the 
		<a href="https://chrome.google.com/webstore/detail/eyebrowse/akhbhgcioeledicnkpmjpmkkecohhicf" target="_blank">
			<img width=20 height=20 src='{% static "common/img/chrome-logo.png" %}'>
			Chrome extension</a>
		from the Chrome webstore.
	</P>
	<P>
			
	</p>
	<P>
		You'll also want to build up a sharelist of the domains you're interested in tracking and sharing. Below are some
		common domains that people on this site have shared:
	</P>
	<P>
		<table>
		{% for list in top_whitelists %}
		<tr class="well">
			<td>
				<a target="_blank" href="http://{{ list.url }}">{{ list.url }}</a>
			</td>
			<td>
				{% if list.count == 1 %}
					{{ list.count }} person
				{% else %}
					{{ list.count }} people
				{% endif %}
					have shared this
			</td>
			<td>
				<a class="btn btn-info whitelist-add" data-url="{{ list.url }}">
					<span data-url="{{ list.url }}" class="icon-white glyphicon glyphicon-ok" data-type="add-whitelist">
					Sharelist
				</a>
				
			</td>
		</tr>
		{% endfor %}
		</table>
	</P>
	<P>
		You can always edit your sharelist in the <a href="/accounts/profile/sharelist">Settings page</a> and through
		the extension. Additionally, if you don't want to share a domain but still want to check in to a particular page, 
		you can do so using the extension while on that page.
	</P>
	<br />
	<P id="startfollowing">
		<h4>Find Friends and Interesting People to Follow</h4>
		Follow people to see what they're sharing online and find new content that is interesting to you.<br><br>
		One way to find friends is by <a href="/accounts/profile/sync_twitter"><img width="18" height="18" src="{% static "common/img/twitter.png" %}"> connecting your Twitter account</a>.<BR />
    {% if top_people %}
		Also, below are some people in Eyebrowse that currently have the most followers:
    {% endif %}
		
	</P>
	<P>
		<table>
		{% for person in top_people %}
		<tr class="well">
			<td>
				<a href="/users/{{ person.user.username }}" target="_blank">
					<img class="nav-prof-img img-rounded" src="{% gravatar_for_user person.user %}">
					{{ person.user.username }}</a>
			</td>
			<td>
				{{ person.bio }}<BR>
					<a href="{{ person.website }}">{{ person.website }}</a>
			</td>
			<td>
				<a href="/followers/{{ person.user.username }}" target="_blank">
					{{ person.num_followed }}
					{% if person.num_followed == 1 %}
						 follower
					{% else %}
						 followers
					{% endif %}
					
			</td>
			<td>
				<a class="btn btn-info connection">
		             <span data-user="{{ person.user.username }}" class="icon-white glyphicon glyphicon-ok" data-type="add-follow">
		             	Follow  
		             <img src="/static/accounts/img/loading.gif" class="loading" id="loading_gif_{{ person.user.username }}" style="display:none"/ >
		        </span></a>
        	</td>
		</tr>
		{% endfor %}
		</table>
	</P>
	<P>
		You can always edit your following list in the <a href="/accounts/profile/connections">Settings page</a>.
	</P>
	
	<br />


        <a class="btn btn-primary" href="/live_stream/">Continue to my Home Page</a>
</p>
</div>

{% endblock %}


{% block scripts %}
	{% include_script 'common/js/getting_started' %}
{% endblock %}

