{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit well">
        <h1>Welcome to Eyebrowse!</h1>
        <p> When we go outside, a lot of the fun is in being able to see what other people are doing.  We can follow (or steer away from) the crowd. We can bump into friends. We can simply sit back and enjoy observing of the ebb and flow of human traffic.
	</p>
	<p> Wouldn't it be interesting to do the same on the web? </p>

<p> Eyebrowse aims to create a social outdoors for your web browsing.
As an Eyebrowse user you can specify a collection of web sites you wish to
make public; other users can see you when you're on those sites.
</p>

<p>
This ultra-lightweight sharing of your web activity supports many
social activities.  Your friend's browsing paths can lead you to
interesting new web content, and yours can lead them.  People can see
which web pages you find interesting.  You'll be able to "bump into
people" on the web, noticing when your friends are on the same sites
or pages as you.  You can see places that are attracting a crowd, as
it happens.  You can meet new people who share your interests.  As a
community, we'll be able to build up a publicly visible map of the
ebbs and flows of traffic on the web.
	</p>
        <p>
            <a class="btn btn-primary btn-large" href="/accounts/register/">Register &raquo;</a>
        </p>
        <p>
            <a class="btn btn-primary btn-large" <a href="{% url django.contrib.auth.views.login %}">Login</a>
        </p> 
    <div class="row offset2 ">
        {% include "common/snippets/download_links.html" %}
    </div>
</div>

{% endblock %}
