{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit well">
        <h1>Welcome to Eyebrowse!</h1>
        <p> 
            Eyebrowse allows users to automatically track and selectively publish their use of the Web in real-time. Currently, there is no simple way for the end-user to keep track of the vast time spent browsing the Web. Since there is no clear picture of how users access the Web as a whole, the Eyebrowse Project aims to allow public logging of Web usage through client-side services. Eyebrowse gives control to the user, while providing data for public use. Interested? First register and then select browser extension below to download.
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="/accounts/register/">Register &raquo;</a>
        </p>
        <p>
            <a class="btn btn-primary btn-large" <a href="{% url django.contrib.auth.views.login %}">Login</a>
        </p> 
    <div class="row offset2 ">
        {% include "common/snippets/download_links.html" %}
    </div>
</div>

{% endblock %}