<div class="modal fade hide" id="send-feedback-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Send us your praise or your criticism.</h3>
  </div>
  <div class="modal-body">
    <p>We'll love you for either.</p>
    {% include "common/snippets/success_popup.html" %}
    <textarea id="feedback" rows="3"> </textarea>
  </div>
  <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a id="submit_feedback" class="btn btn-primary">Send Feedback</a>
  </div>
</div>