<html>
<head>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '288578304935252',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();

    var url = '{{ url }}';
    var text = '{{ text }}';
    FB.ui({
        method: 'share',
        display: 'popup',
        href: decodeURIComponent(url),
        quote: decodeURIComponent(text),
    }, function(response){});
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<body>
  <div style="text-align: center; margin-top: 100px; font-family: Helvetica">If a Facebook Share dialog does not appear, ensure that popups are enabled from this tab.</div>
</body>
</html>