{% load staticfiles %}

body {
    padding-top: 100px;
    background: url({% static "common/img/bg-body.png" %}) repeat top left;
}
.sidebar-nav {
    padding: 9px 0;
}

html, body {
    height: 100%; /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.push, .footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo {
    width:27px;
    height:27px;
}

.topbar {
    margin-top:3px !important;
}

.nav-bg {
    background: url({% static "common/img/bg-nav.png" %})  repeat top left;
}

.well {
    background-color: #DDD !important;
}

ul.errorlist {
    display:none;
}

.rm-margin {
    margin:0px !important;
}

.table td, .table th {
   text-align: center;   
}

.title-offset {
    padding-bottom: 25px;
}

.pointer {
    cursor: pointer;
}

.ext-icon {
    width:45px;
    height:45px;
}