{% load staticfiles %}

body {
    padding-top: 100px;
    background: url({% static "common/img/bg-body.png" %}) repeat top left;
}
.sidebar-nav {
    padding: 9px 0;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

.logo {
    width:27px;
    height:27px;
}

.topbar {
    margin-top:3px !important;
}

.nav-bg {
    background: url({% static "common/img/bg-nav.png" %})  repeat top left;
}

.well {
    background-color: #DDD !important;
}

ul.errorlist {
    display:none;
}

.rm-margin {
    margin:0px !important;
}

.table td, .table th {
   text-align: center;   
}