{% load filters %}

<div class="aggregate-stats row">
	<div class="span4">
		<h4>Day</h4>
		<div class="block-arts">
		{% for art in day_articles %}
				<P>{{ art.num_urls|to_minute }} minutes | <a href="{{ art.url }}" onclick="trackOutboundLink('{{ art.url }}'); return false;">{{ art.title|truncatechars:40 }}</a></p>
		{% endfor %}
		{% if not day_articles %}
			None.
		{% endif %}
		</div>

		 <div id="piechart1" style="width: 480px; height: 200px; left: -80px; visibility: hidden;">{{ day_chart }}</div>
		
	</div>
	<div class="span4">
		<h4>Week</h4>
		<div class="block-arts">
		{% for art in week_articles %}
				<P>{{ art.num_urls|to_minute }} minutes | <a href="{{ art.url }}" onclick="trackOutboundLink('{{ art.url }}'); return false;">{{ art.title|truncatechars:40 }}</a></p>
		{% endfor %}
		{% if not week_articles %}
			None.
		{% endif %}
		</div>
		<div id="piechart2" style="width: 480px; height: 200px; left: -80px; visibility: hidden;">{{ week_chart }}</div>
		
	</div>

</div>