<div class="span8 well aggregate-stats">
	<div class="aggregate-left">
		<h4>Day</h4>
		<div class="block-arts">
		{% for art in day_articles %}
			{% if art.num_urls == 1 %}
				<P>{{ art.num_urls }} view | <a href="{{ art.url }}">{{ art.title|truncatechars:40 }}</a></p>
			{% else %}
				<P>{{ art.num_urls }} views | <a href="{{ art.url }}">{{ art.title|truncatechars:40 }}</a></p>
			{% endif %}
		{% endfor %}
		{% if not day_articles %}
			None.
		{% endif %}
		</div>

		 <div id="piechart1" style="width: 480px; height: 200px; left: -80px; visibility: hidden;">{{ day_chart }}</div>
		
	</div>
	<div class="aggregate-right">
		<h4>Week</h4>
		<div class="block-arts">
		{% for art in week_articles %}
			{% if art.num_urls == 1 %}
				<P>{{ art.num_urls }} view | <a href="{{ art.url }}">{{ art.title|truncatechars:40 }}</a></p>
			{% else %}
				<P>{{ art.num_urls }} views | <a href="{{ art.url }}">{{ art.title|truncatechars:40 }}</a></p>
			{% endif %}
		{% endfor %}
		{% if not week_articles %}
			None.
		{% endif %}
		</div>
		<div id="piechart2" style="width: 480px; height: 200px; left: -80px; visibility: hidden;">{{ week_chart }}</div>
		
	</div>

</div>