{% load filters %}
{% load gravatar %}

<div id="history_item_{{item.id}}" class='row history-container infinite-scroll span8' data-id="{{ item.id }}">
    <!-- <div class="author-container">
        <a class="author-name" href="/users/{{ item.user.username }}" title="Add connection" data-content="">
            <img class="author-pic img-polaroid" src="{% gravatar_for_user item.user %}"/>
            {{ item.user.profile.get_full_name }} 
        </a>

        <div class="connection-container pull-right">
            {% include 'common/snippets/follow-popover.html' with item=item %}
        </div> 
    </div> --> 
    <div id="history_item_{{ item.id }}_content" class="history-content">
    	<span>
    		{% for m in messages %}
    			<div>{{ m.message }}</div>
    		{% endfor %}
    	</span>
    	
        <span>
            <a href="http://{{ item.url|url_domain }}" target="_blank" class="cut-url pointer" data-content="{{ item.url|url_domain }}">
                <img class="favicon" src="{{ item.favIconUrl }}"> {{ item.url|url_domain }} 
            </a> 
            | <a class="pointer" style="color:black; text-decoration:none;cursor:pointer" href="{{ item.url }}"><span class="cut-content pointer" data-content="{{ item.title}}">
                {{ item.title|truncatechars:40 }} 
               </a>
            </span>
        </span> <!-- | -->
        <span class="pull-right author-container"> 
            
           <span><a href="/users/{{ item.user.username }}"><img class="author-pic img-rounded" data-content="{{ item.user }}" src="{% gravatar_for_user item.user %}"/> </a></span><span class='time-ago pointer date' data-content="For {{ item.humanize_time }}, on {{item.start_time}}" data-time-ago="{{item.start_time|date_fmt}}" data-timestamp="{{item.start_time|date_fmt}}"></span>
        </span>
    </div>
    <!--
    <hr class='rm-margin'>
    <div class="history-footer">
        <span class="date" data-timestamp="{{item.start_time|date_fmt}}"> {{ item.start_time }} </span>
    </div>
    -->

</div>