{% load filters %}

<tr class="history-row infinite-scroll">
    <td>
        <a href="{{ item.url }}" target="_blank" data-content="{{ item.url }}" class="cut-content pointer">
        <img class="favicon" src="{{ item.favIconUrl }}"> {{ item.url|url_domain }} 
        </a>
    </td>
    <td class="cut-content pointer" >
        {{ item.title|truncatechars:30 }}
    </td>
    <td>
        {{ item.humanize_time }}
    </td>
    <td class='date'>
        {{ item.start_time }}
    </td>
    <td class="hidden edit">
        <a class="btn btn-danger btn-small rm-history" data-id="{{ item.id }}">
            <i class="icon-remove icon-white"></i>
        </a>
    </td>
</tr>