{% load filters %}
{% load gravatar %}

{% if user.username != username and user == item.user or item.visited %}
	<div id="history_item_{{item.id}}" class='row history-container infinite-scroll eye-hist-visited' data-id="{{ item.id }}">
{% else %}
	<div id="history_item_{{item.id}}" class='row history-container infinite-scroll eye-hist' data-id="{{ item.id }}">
{% endif %}
    <div id="history_item_{{ item.id }}_content" class="history-content">
    	<span>
    		{% for m in item.first_item.messages %}
    			<div class="history-message">{{ m.message }}</div>
    		{% endfor %}
    	</span>
    	
        <span>
            <a href="http://{{ item.first_item.url|url_domain }}" target="_blank" class="cut-url pointer" data-content="{{ item.first_item.url|url_domain }}">
                <img class="favicon" src="{{ item.favicon_url }}"> {{ item.first_item.url|url_domain|truncatechars:30 }} 
            </a> 
            | <a class="pointer" target="_blank" style="color:black; text-decoration:none;cursor:pointer" href="{{ item.first_item.url }}">
            	<span class="cut-content pointer" data-content="{{ item.first_item.title}}">
                {{ item.first_item.title|truncatechars:40 }} 
            	</span>
            </a>
        </span>
            
        <span class="pull-right author-container"> 

           <span>
           	<a href="/users/{{ item.user.username }}">
           		<img class="author-pic img-rounded" data-content="{{ item.user }}" src="{% gravatar_for_user item.user %}"/> 
           	</a>
           </span>
	        <span class='time-ago pointer date' data-content="For {{ item.first_item.humanize_time }}, on {{item.first_item.start_time}}" data-time-ago="{{item.first_item.start_time|date_fmt}}" data-timestamp="{{item.first_item.start_time|date_fmt}}">	
	        </span>
	        <span class="dropdown timeline-options pull-right">
	        	<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	        	<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
	        	</a>
	        	{% if user.is_authenticated %}
		        	<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation">
					    	{% if item.tag %}
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#tagModal" data-domain="{{ item.domain }}" data-tag="{{ item.tag.name }}">
					    			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
					    			Edit tag for this domain
					    	{% else %}
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#tagModal" data-domain="{{ item.domain }}">
									<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
									Tag this domain
					    		{% endif %}
					    	</a>
					    </li>
					    {% if not username %}
						    <li role="presentation">
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#muteModal" data-title="{{ item.first_item.title }}" data-url="{{ item.first_item.url }}">
				    				<span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
					    			Mute items like this from my feeds
						    	</a>
						    </li>
					    {% endif %}
					    {% if user.username == item.user.username %}
					    <li role="presentation">
					    	
					    	{% if item.get_items|length > 0 %}
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#deleteModal" data-item="{{ item.id }}">
					    	{% else %}
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#deleteModalDomain" data-url="{{ item.first_item.url }}">
					    	{% endif %}
					    			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					    			Delete visits to this page from the Eyebrowse history
								</a>
							
					    </li>
					    <li role="presentation">
					    		<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#deleteModalDomain" data-domain="{{ item.domain }}">
					    			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					    			Delete ALL visits to this domain from the Eyebrowse history
								</a>
					    </li>
					    {% endif %}
					    
				  </ul>
				{% endif %}
	        </span>
        </span>
        
            {% if item.tag %}
        	  <span class="tag-area">
            	<span class="label label-default" style="background-color: #{{ item.tag.color }};">{{ item.tag.name }}</span>
            	</span>
            {% endif %}
    </div>
    
    		<div id="history_item_{{ item.id }}_lower">
	        {% for h_item in item.get_items %}
	            <span>
		    		{% for m in h_item.messages %}
		    			<div class="history-message2">{{ m.message }}</div>
		    		{% endfor %}
		    	</span>
	        	<div id="history_item_{{ h_item.id }}_lower_item" class="lower-item">
	        		<span class="pull-right author-container"> 
	        			<span class="tag-area">&nbsp;</span>
		          	<span class='time-ago pointer date' data-content="For {{ h_item.humanize_time }}, on {{h_item.start_time}}" data-time-ago="{{h_item.start_time|date_fmt}}" data-timestamp="{{h_item.start_time|date_fmt}}"></span>
		        	</span>
		        	
	        		<span class="left">
	        			<a class="pointer" onclick="trackOutboundLink('{{ h_item.url }}'); return false;" target="_blank" style="color:black; text-decoration:none;cursor:pointer" href="{{ h_item.url }}">
				        	<span class="cut-content pointer" data-content="{{ h_item.title}}"> 
				                	{{ h_item.title|truncatechars:60 }} 
				            </span>	
		                </a>
		            </span>
	
		        </div>
	       {% endfor %}
	      </div>
    <!--
    <hr class='rm-margin'>
    <div class="history-footer">
        <span class="date" data-timestamp="{{item.start_time|date_fmt}}"> {{ item.start_time }} </span>
    </div>
    -->

</div>
