{% extends "common/base.html" %}
{% load filters %}
{% load staticfiles %}

{% block content %} 
<div class="row">
    {% include "common/subnav.html" %}
    <div class="history-timeline-container span7">
        <h1 class="centered">{{page_title}}</h1>
        <div class="history-timeline well">
            <div class="loading-container">
                <img class="loading" src='{% static "common/img/logo.png" %}'/>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %} 
       
{% endblock %}