{% load humanize %}

<!-- Desktop display -->
<div class="span3 search-nav hidden-phone">
    <div class="span3" data-spy="affix">
        <ul class="nav nav-list well">
        {% include 'live_stream/subnav_content.html' %}
        </ul>

        <div class="home-statbox light-well" id="tot_history">
            <div class="content big centered">
                {{ num_history|intcomma }}
            </div>
            <div class="statbox-footer centered">
                history items collected
            </div>
        </div>

        <div class="home-statbox light-well" id="tot_time">
            <div class="statbox-header centered">
                total time spent
            </div>
            <div class="content big centered time-stat" data-time="{{ tot_time }}"></div>
        </div>

        <div class="home-statbox light-well" id="tot_online">
            <div class="content big centered">
                {{ num_online|intcomma }}
            </div>
            <div class="statbox-footer centered">
                total users online
            </div>
        </div>
    </div>
</div>

<!-- Mobile display -->
<div class="span2 offset1 search-nav visible-phone">
    <ul class="nav nav-pills well">
    {% include 'live_stream/subnav_content.html' %}
    </ul>
</div>