{% load staticfiles %}

<!-- Desktop display -->
<div class="span3 search-nav hidden-phone">
    <div class="span3" data-spy="affix">
        <ul class="nav nav-list well">
        {% include 'live_stream/subnav_content.html' %}
        </ul>

        {% include "stats/statboxes/tot_history.html" %}
        
        {% include "stats/statboxes/follows.html" %}
        
        {% include "stats/statboxes/tot_time.html" %}
        
        {% include "stats/statboxes/tot_online.html" %}
        
        <div class="home-statbox light-well">
		    <div class="content med">
		    	<div class="stat-links">
				    <img width=16 height=16 src='{% static "common/img/chrome-logo.png" %}'>
				    <a href="https://chrome.google.com/webstore/detail/eyebrowse/akhbhgcioeledicnkpmjpmkkecohhicf" target="_blank">Get the Chrome Extension &raquo;</a> 
                    <BR />
                    <BR />
                    <a href="http://github.com/haystack/eyebrowse-server">
                    <img class="icon" src="https://github.com/favicon.ico">
                                        github
                                </a><BR />

                                    <a href="http://www.twitter.com/eyebrowse_proj">
                                        <img src="https://si0.twimg.com/favicons/favicon.ico">
                                        @eyebrowse_proj
                                    </a>
								<BR />
                                    <a data-toggle="modal" href="#send-feedback-modal">
                                        <i class="icon-envelope"></i>
                                        contact
                                    </a>

				</div>
		    </div>
		</div>

    </div>
</div>

<!-- Mobile display -->
<div class="span2 offset1 search-nav visible-phone">
    <ul class="nav nav-pills well">
    {% include 'live_stream/subnav_content.html' %}
    </ul>
</div>