{% load staticfiles %}

<!-- Desktop display -->
<div class="span3 search-nav hidden-phone">
    <div class="span3 affix-nav" id="left-nav">
        <ul class="nav nav-list well">
        {% include 'live_stream/subnav_content.html' %}
        </ul>
        {% if user.is_authenticated %}
          {% include "stats/statboxes/tot_history.html" %}
          {% include "stats/statboxes/follows.html" %}
          {% include "stats/statboxes/tot_time.html" %}
          {% include "stats/statboxes/tot_online.html" %}
          {% include "live_stream/subnav_footer.html" %}
        {% endif %}

    </div>
</div>

<!-- Mobile display -->
<div class="span2 offset1 search-nav visible-phone">
    <ul class="nav nav-pills well">
    {% include 'live_stream/subnav_content.html' %}
    </ul>
</div>
