<div class="search-bar-wrap">
	<form>
    <div class="search-wrap">

    	{% if visualization %}
    		<input type="text" class="form-control search-bar" placeholder="Filter visualization by a domain or term..." value="{{query}}">
    	{% else %}
        	<input type="text" class="form-control search-bar" placeholder="Search for a domain or page title..." value="{{query}}">
        {% endif %}
    </div>
    <div class="date-search-wrap">
        <input class="form-control date-search-bar " type="text" placeholder="i.e. from last week, the past 10 days" value="{{date}}">
        <button class="btn btn-primary search-btn" type="button">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
    </form>
</div>