<div class="sort_stream">
	Sort Eyebrowse by: 
		{% if sort == "top" %}
			<b>Top</b>
		{% else %}
			<a href="/live_stream/?sort=top&filter={{ filter }}&date={{ date }}&query={{ query }}">Top</a>
		{% endif %}
		 | 
		 {% if sort == "visits" %}
		 	<b>Most Visitors</b>
		 {% else %}
			<a href="/live_stream/?sort=visits&filter={{ filter }}&date={{ date }}&query={{ query }}">Most Visitors</a>
		{% endif %}
		 | 
		 {% if sort == "long" %}
		 	<b>Long Reads</b>
		 {% else %}
		 	<a href="/live_stream/?sort=long&filter={{ filter }}&date={{ date }}&query={{ query }}">Long Reads</a>
		 {% endif %}
		  | 
		  {% if sort == "comments" %}
		 	<b>Most Notes</b>
		 {% else %}
		 	<a href="/live_stream/?sort=comments&filter={{ filter }}&date={{ date }}&query={{ query }}">Most Notes</a>
		 {% endif %}
		  | 
		   {% if sort == "time" %}
		   <b>Most Recent</b>
		  {% else %}
		  <a href="/live_stream/?sort=time&filter={{ filter }}&date={{ date }}&query={{ query }}">Most Recent</a>
		 {% endif %}
		 <button class="btn btn-xs btn-primary" id="hide-visited-domain">Hide Visited</button>
</div>
<div class="viz_stream">
	Visualize Eyebrowse by:
		{% if viz == "word" %}
			<b>Wordcloud</b>
		{% else %}
			<a href="/visualizations/word_cloud/?filter={{ filter }}&date={{ date }}&query={{ query }}">Wordcloud</a>
		{% endif %}
		 | 
		 {% if viz == "dow" %}
		 	<b>Day of Week</b>
		 {% else %}
			<a href="/visualizations/day_of_week/?filter={{ filter }}&date={{ date }}&query={{ query }}">Day of Week</a>
		{% endif %}
		 | 
		 {% if viz == "hod" %}
		 	<b>Hour of Day</b>
		 {% else %}
			<a href="/visualizations/hour_of_day/?filter={{ filter }}&date={{ date }}&query={{ query }}">Hour of Day</a>
		{% endif %}
</div>