{% load staticfiles %}

<div class="home-statbox well">
    <div class="content med">
        <div class="stat-links">
            <img width=16 height=16 src='{% static "common/img/chrome-logo.png" %}'>
            <a href="https://chrome.google.com/webstore/detail/eyebrowse/akhbhgcioeledicnkpmjpmkkecohhicf" target="_blank">Get the Chrome Extension &raquo;</a> 
            <br />
            <br />
            <a href="/about">About</a> &nbsp;|&nbsp; <a href="/faq">FAQ</a> &nbsp;| &nbsp;<a href="/api_docs">API</a>
            <br>
            <br>
            <a href="http://github.com/haystack/eyebrowse-server">
                <img class="icon" src="https://github.com/favicon.ico"> github
            </a>
            <br />

            <a href="http://www.twitter.com/eyebrowse_proj">
                <img width="15" height="15" src="{% static "common/img/twitter.png" %}"> @eyebrowse_proj
            </a>
            <br />
            <a data-toggle="modal" href="#send-feedback-modal">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                 contact
            </a>

        </div>
    </div>
</div>
