{% if user.is_authenticated %}
<li class={{ nav_profile }}>
   <a id="user_prof" href="/users/{{user.username}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Activity</a>
</li>

<li class={{ subnav_following }}>
    <a href="/live_stream/?filter=personalized"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Personalized </a>
</li>
{% endif %}
<li class={{ subnav_firehose }}>
    <a href="/live_stream/?filter=firehose"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Firehose </a>
</li>
