<div class="history-timeline-container live-stream-container">
    {% for h_item in history %}
    	{% if hist_type == "eyehistory" %}
        	{% include "live_stream/history_item_template_new.html" with item=h_item user=user username=username follows=follows filter=filter messages=h_item.messages %}
    	{% else %}
    		{% include "live_stream/history_pop_item_template.html" with item=h_item user=user follows=follows filter=filter messages=h_item.messages.all %}
    	{% endif %}
    {% endfor %}
    {% if history|length == 0 %}
        {% include "common/snippets/empty_search.html" with msg=empty_search_msg %}
    {% endif %}

    {% include 'common/snippets/pagination.html' with objs=history link_mod=link_mod %}

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Visits to Pages in Eyebrowse</h4>
      </div>
      <div class="modal-body" id="deleteModalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="delete-eyehistory-button">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModalDomain" tabindex="-1" role="dialog" aria-labelledby="deleteModalDomainLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="delete-eyehistory-domain-button">Yes, Delete All</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tagModalLabel"></h4>
      </div>
      <div class="modal-body" id="tagModalBody">
      	<input class="form-control" id="tag-form" placeholder="New tag">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-tag-form">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="muteModal" tabindex="-1" role="dialog" aria-labelledby="muteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="muteModalLabel">What to Mute</h4>
      </div>
      <div class="modal-body" id="muteModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" id="refresh-mute-modal">Refresh</button>
      </div>
    </div>
  </div>
</div>
