{% load filters %}
{% load gravatar %}

{% if item.seen %}
<div class='row history-container span8 eye-hist-visited'>
{% else %}
<div class='row history-container span8 eye-hist'>
{% endif %}
    <div class="history-content">
    			
    	{% if item.notice_type.label == "new_follower" %}

	    	<div>
	    		<a href="/users/{{ item.sender.username }}">
	    	 	<img class="author-pic img-rounded" data-content="{{ item.sender }}" src="{% gravatar_for_user item.sender %}"/> 
	    	 	</a>
	    			<a href="/users/{{ item.sender.username }}">{{ item.sender.username }}</a> followed you on {{ item.date_created }}
	    	</div>
		{% endif %}
		
		{% if item.notice_type.label == "bump_follower" %}

	    	<div>
	    		<a href="/users/{{ item.sender.username }}">
	    	 	<img class="author-pic img-rounded" data-content="{{ item.sender }}" src="{% gravatar_for_user item.sender %}"/> 
	    	 	</a>
	    			<a href="/users/{{ item.sender.username }}">{{ item.sender.username }}</a> bumped into you on {{ item.date_created }}
	    			<BR>
	    				You were both on the page <a href="{{ item.url }}">{{ item.url }} 
	    					{% if item.description %}<img class="favicon" src="{{ item.favIconUrl }}">{% endif %}</a>
	    			<br>
	    			{% if item.description %}
	    				
		            	 <div class="cut-content pointer" data-content="{{ item.title }}">
		            	 	<img align="left" class="popular_image img-rounded" src="{{ item.img_url }}">
		            	 	  	<a class="pointer" target="_blank" style="color:black; text-decoration:none;cursor:pointer" href="{{ item.url }}">
			            	 	    <h4>
					                {{ item.title }} 
					            	</h4>
				            	</a>
				            	{{ item.description }}
		                	</div>
            	
	    			
	    			{% endif %}
	    	</div>
		{% endif %}
		
		{% if item.notice_type.label == "chat_by_follower" or item.notice_type.label == "note_by_follower" %}

	    	<div>
	    		<a href="/users/{{ item.sender.username }}">
	    	 	<img class="author-pic img-rounded" data-content="{{ item.sender }}" src="{% gravatar_for_user item.sender %}"/> 
	    	 	</a>
	    			<a href="/users/{{ item.sender.username }}">{{ item.sender.username }}</a> posted the following 
	    			{% if item.notice_type.label == "chat_by_follower" %}
	    			 message on the Chat Board
	    			 {% else %}
	    			 Note on the Bulletin Board 
	    			 {% endif %}
	    			 of <a href="{{ item.url }}">{{ item.url }}</a> on {{ item.date_created }}:
	    			<BR>
	    				<div class="history-message">
	    					{% autoescape off %}{{ item.message }}{% endautoescape %}
	    				</div>
	    				You have both visited the page <a href="{{ item.url }}">{{ item.url }} 
	    					{% if item.description %}<img class="favicon" src="{{ item.favIconUrl }}">{% endif %}</a> in the past.
	    			<br>
	    			
	    	</div>
		{% endif %}
		
		{% if item.notice_type.label == "mentioned_in_chat" or item.notice_type.label == "mentioned_in_note" %}

	    	<div>
	    		<a href="/users/{{ item.sender.username }}">
	    	 	<img class="author-pic img-rounded" data-content="{{ item.sender }}" src="{% gravatar_for_user item.sender %}"/> 
	    	 	</a>
	    			<a href="/users/{{ item.sender.username }}">{{ item.sender.username }}</a> mentioned you in the following 
	    			{% if item.notice_type.label == "mentioned_in_chat" %}
		    			 message on the Chat Board
		    		{% else %}
		    			 Note on the Bulletin Board 
	    			{% endif %}
	    			of <a href="{{ item.url }}">{{ item.url }}{% if item.description %} <img class="favicon" src="{{ item.favIconUrl }}">{% endif %}</a> on {{ item.date_created }}:
	    			<BR>
	    				<div class="history-message">
	    					{% autoescape off %}{{ item.message|add_twitter }}{% endautoescape %}
	    				</div>
	    			
	    	</div>
		{% endif %}
       
    </div>

</div>